/*----------
    Reset
 ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
    Common
 ---------*/

body {
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

/*----------
    Nav
 ---------*/

.main-nav {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
}

.main-nav ul li {
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*----------
    Main
 ---------*/

 section {
     height: 100vh;
 }

 #first {
     background-color: #ff0000;
 }

 #second {
     background-color: #008000;
 }

 #third {
     background-color: #ffff00;
 }