/*----------
    Reset
 ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------
    Common
 ---------*/

body {
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

/*----------
    Header
 ---------*/

header {
    position: relative;
}

/*----------
    Nav
 ---------*/

.main-nav {
    position: absolute;
    top: 40px;
    right: 20px;
}

.main-nav ul li {
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*----------
    Main
 ---------*/
