/*-----------
    Reset
 ----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------
    Common
 ----------*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Bebas Neue', cursive;
}

section {
    height: 100vh;
    position: relative;
}

h2 {
    text-transform: uppercase;
    color: #ffff00;
    font-size: 3.5em;
    text-align: center;
    word-spacing: 18px;
    letter-spacing: 4px;
}

/*-----------
    Nav
 ----------*/

.main-nav {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 10;
}

.main-nav ul li {
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 50px;
}

/*-----------
    Section
 ----------*/

#first {
    background-color: #ff0000;
}

#second {
    background-color: #008000;
}

#third {
    background-color: #ffff00;
}

/*-----------
    Product
 ----------*/

 .product-container {
    position: absolute;
    max-width: 800px;
    max-height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 img {
    width: 100%;
 }

 #third h2 {
     color: #008000;
 }